{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="background-image" style="background-image: url('{{ place.images.first.image.url }}')">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="review-heading">Add a Review for {{ tourist_place.name }}</h1>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="form-group">
                        <p>Rating:</p>
                        <div class="star-rating" id="star-rating">
                            <i class="fas fa-star" data-rating="1"></i>
                            <i class="fas fa-star" data-rating="2"></i>
                            <i class="fas fa-star" data-rating="3"></i>
                            <i class="fas fa-star" data-rating="4"></i>
                            <i class="fas fa-star" data-rating="5"></i>
                        </div>
                        <input type="hidden" name="rating" id="rating" value="0">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="form-group">
                        <label for="comment">Your Review:</label>
                        {{ form.comment }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="form-group" style="margin-top: 20px;">
                        <button type="submit" class="btn btn-primary">Submit Review</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/star_rating.js' %}"></script>
{% endblock %}