{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="background-image" style="background-image: url('{{ place.images.first.image.url }}')">
    <div class="container">
        <div class="heading">
            <h1>{{ place.name }}</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="description-box">
                    <p>{{ place.description }}</p>
                    <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="{{ place.google_map_src }}"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image-gallery">
    <h2>Image Gallery</h2>
    <ul class="list-unstyled">
        {% for image in place.images.all %}
        <li class="list-inline-item">
            <img src="{{ image.image.url }}" alt="{{ image.alt_text }}" class="thumbnail-image"
                data-image-url="{% url 'get_large_image' image.id %}">
        </li>
        {% endfor %}
    </ul>
</section>

<!-- Bootstrap Modal for Large Images -->
<div class="modal fade" id="largeImageModal" tabindex="-1" role="dialog" aria-labelledby="largeImageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <!-- Large image content will be loaded here using AJAX -->
                <img src="" alt="Large Image" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/place_detail.js' %}"></script>
{% endblock %}