{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="background-image place_detail" style="background-image: url('{{ place.images.first.image.url }}')">
    <div class="overlay">
        <div class="container">
            <div class="heading">
                <h1 class="display-4">{{ place.name }}</h1>
            </div>
            <div class="row">
                <!-- Description Box -->
                <div class="col-md-4">
                    <div class="description-box py-2">
                        <p class="lead" style="font-size: 14px;">{{ place.description }}</p>
                        <!-- Reduce font size here -->
                        <iframe class="embed-responsive" src="{{ place.google_map_src }}" frameborder="0" scrolling="no"
                            marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>
                <!-- Reviews and Image Gallery -->
                <div class="col-md-8">
                    <h2 class="mb-4 review">Latest Reviews</h2>
                    <div class="scrollable-section">
                        <a href="{% url 'add_review' place.id %}" class="btn btn-primary">Add a Review</a>
                        <ul class="list-group reviews-list">
                            {% for review in latest_reviews %}
                            <li class="review-item">
                                <div class="review-content">
                                    <strong>{{ review.user.first_name }}</strong> <br>
                                    <p class="created-at"><small>Created At: {{ review.created_at }}</small></p>
                                    <div class="rating">
                                        {% spaceless %}
                                        {% for star in "12345"|make_list %}
                                        {% if forloop.counter <= review.rating|add:"0" %}
                                        <i class="fas fa-star rated"></i>
                                        {% else %}
                                        <i class="far fa-star"></i>
                                        {% endif %}
                                        {% endfor %}
                                        {% endspaceless %}
                                    </div>
                                    <div class="comment">
                                        <p>{{ review.comment }}</p>
                                    </div>
                                </div>
                            </li>
                            {% empty %}
                            <li>No reviews available.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Add a link to view more reviews -->
                    {% if total_reviews_count > 2 %}
                    <a href="{% url 'view_review' tourist_place_id=place.id %}" class="btn btn-primary">View More
                        Reviews ({{ total_reviews_count }})</a>
                    {% endif %}
                    <section class="image-gallery">
                        <h2>Image Gallery</h2>
                        <ul class="list-unstyled">
                            {% for image in place.images.all %}
                            <li class="list-inline-item">
                                <img src="{{ image.image.url }}" alt="{{ image.alt_text }}"
                                    class="thumbnail-image img-fluid"
                                    data-image-url="{% url 'get_large_image' image.id %}">
                            </li>
                            {% endfor %}
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="largeImageModal" tabindex="-1" role="dialog" aria-labelledby="largeImageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="" alt="Large Image" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/place_detail.js' %}"></script>
{% endblock %}