{% extends 'base.html' %}

{% block content %}
<h2>Reviews for {{ tourist_place.name }}</h2>
<ul class="reviews-list">
    {% for review in reviews %}
    <li class="review-item">
        <h3>{{ review.user.first_name }}</h3>
        <p class="created-at"><time datetime="{{ review.created_at|date:'Y-m-d' }}">Created on
                {{ review.created_at|date:'F j, Y' }}</time></p>
        <div class="rating">
            <span class="rating-value">{{ review.rating }}</span>
            <div class="rating-stars">
                {% spaceless %}
                {% for star in "12345"|make_list %}
                {% if forloop.counter <= review.rating|add:"0" %}
                <i class="fas fa-star"></i>
                {% else %}
                <i class="far fa-star"></i>
                {% endif %}
                {% endfor %}
                {% endspaceless %}
            </div>
        </div>
        <p>{{ review.comment }}</p>

        {% if current_user == review.user %}
        <div class="review-actions">
            <a href="{% url 'edit_review' review.id %}">Edit</a>
            <a href="{% url 'delete_review' review.id %}">Delete</a>
        </div>
        {% endif %}
    </li>
    {% empty %}
    <li>No reviews available.</li>
    {% endfor %}
</ul>
</body>

<style>

</style>
{% endblock %}