{% extends "base.html" %}
{% block content %}
{% load static %}
{{ state }}
{{ state.image.url }}
<section class="background-image" style="background-image: url('{{ state.image.url }}')">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% if alert_message %}
                <div class="alert alert-success" role="alert">
                    {{ alert_message }}
                </div>
                {% endif %}
                <h1>Booking Summary</h1>
                <p><strong>User:</strong> {{ booking.user.get_full_name }}</p>
                <p><strong>Booking Date:</strong> {{ booking.date }}</p>
                <p><strong>Number of Guests:</strong> {{ booking.no_of_guests }}</p>
                <p><strong>Package:</strong> {{ booking.package }}</p>
                <p><strong>Email:</strong> {{ booking.contact_email }}</p>
                <p><strong>Contact Phone:</strong> {{ booking.contact_phone }}</p>
                <p><strong>Special Requests:</strong> {{ booking.special_requests }}</p>
                <p><strong>Payment Method:</strong> Cash</p>
                <p><strong>Payment Amount:</strong> €{{ booking.payment_amount }}</p>
            </div>
            <div class="col-md-6">
                <form method="post" action="{% url 'book_now' booking.id %}" class="center-form">
                    {% csrf_token %}
                    <input type="hidden" name="user_email" value="{{ booking.contact_email }}">
                    <button class="btn btn-primary" type="submit">Book Now</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}