{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="booking-list">
    <!-- Add a CSS class to the content area -->
    <h1>Booking List</h1>
    <ul>
        {% for booking in bookings %}
        <li>
            <a href="{% url 'booking_detail' booking.id %}">{{ booking.user }} on {{ booking.date }}</a>
            <a href="{% url 'update_booking' booking.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'booking_confirm_delete' booking.id %}" class="btn btn-danger">Delete</a>
        </li>
        {% empty %}
        <li>No bookings available</li>
        {% endfor %}
    </ul>
    {% if not bookings %}
    <a href="{% url 'package_list' %}" class="btn btn-primary">Create a Booking</a>
    {% endif %}
</div>
</body>

<script src="{% static 'js/delete_booking.js' %}"></script>

{% endblock %}