{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content-container" style="background-image: url('{{ state.image.url }}')">
    <h1 class="text-center">{{ state.name }} Packages</h1>
    <div class="package-list">
        {% for package in packages %}
        <div class="package-box row">
            <div class="col-md-6 package-details">
                <strong>{{ package }}</strong><br>
                Package Type: {{ package.get_package_type_display }}<br>
                Price:€{{ package.price }}/person<br>
                Places Limit: {{ package.get_places_limit_display }}<br>
                <h3>Tourist Places:</h3>
                <ul>
                    {% for place in package.places.all %}
                    <li>{{ place.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4 package-description">
                {{ package.get_description|safe }}
            </div>
            <div class="col-md-2 book-now-button text-center align-self-center">
                <a href="{% url 'booking_create' package_id=package.id %}" class="btn btn-primary">Book Now</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="{% static 'js/package_detail.js' %}"></script>

{% endblock %}